<!--     -->
<!-- <courses></courses> -->
<!-- 
<ul class="nav nav-pills">
    <li [class.active] ="viewMode=='map'"><a (click) ="viewMode ='map'">Course Map</a></li> |
    <li [class.active] ="viewMode=='list'"><a (click) ="viewMode ='list'">Course List</a></li>
</ul>
<div [ngSwitch] ="viewMode">
    <div *ngSwitchCase="'map'">Course Map</div>
    <div *ngSwitchCase="'list'">Course List</div>
    <div *ngSwitchDefault>Other Course</div>
</div>


<hr>
<h1>Add / Remove</h1>
<ul>
    <button class="btn btn-primary" (click)="onClickAdd()">Add More</button>
    <li *ngFor="let course of courses">
        {{course.name}} <button class="btn-danger btn-xs" (click)="onRemove(course)">X</button>
    </li>
</ul> -->

<!-- <input type="text" appInputForm> -->
<contact-form></contact-form>